main {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

main > section {
  width: 90%;
  height: 80%;
  margin-top: 13vh;
  background: #201c1c;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

.sectionHeader {
  font-size: 3rem;
  color: rgb(0 205 0);
  margin-bottom: 6%;
}

.sectionImg {
  width: 40%;
}